mat-card {
  width: 256px;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;

  mat-card-title {
    margin-top: 8px;
    text-align: center;
  }

  mat-card-content {
    text-align: justify;

    .content-section {
      >p {
        font-weight: bold;
        font-size: 1.05em;
      }
    }

    >.synopsis {
      padding: 16px;
    }

    >.genres {
      padding-top: 16px;
      padding-bottom: 16px;

      mat-chip-list {
        ::ng-deep>div {
          justify-content: center;
        }
      }
    }
  }

  .thumbnail {
    position: relative;

    img {
      position: relative;
      object-fit: cover;
      height: 324px;
      width: 100%;
      margin: 0px;
    }

    ::ng-deep mat-chip {
      position: absolute;

      &.release {
        right: 10px;
        bottom: 10px;
      }

      &.air {
        left: 10px;
        bottom: 10px;
      }
    }
  }
}
