#settings-container {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    margin-top: 25px;
    text-align: center;
  }

  mat-divider {
    width: 25%;
  }
}
